
.transaction-history {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.thead {
    background-color: cadetblue;
}

.th-title {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    font-size: small;
    font-weight: 500;
    color: white;
}


.td-text {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    font-size: small;

    color: grey;
}

.tr:nth-child(even) {
    background-color:honeydew;
};